%table
  %thead
    %tr
      %th Service
      %th Service
      %th Service
  %tbody
    - @services.each do |s|
      %tr
        %td= s.name
        %td= s.status
        %td
          %div.size1of2
            -if s.status == "running"
              = link_to "stop", " ", "data-pid" => s.pid, "data-name" => s.name, "data-action" => "stop", :remote => true
            - else
              = link_to "start", " ", "data-pid" => s.pid, "data-name" => s.name, "data-action" => "start", :remote => true
