//%a.action link
//#page
//  #slider
//    .slide
//      %h2 Slide 1
//    .slide
//      %h2 Slide 2

.page-header
  %h3 Services settings
  %p Selected services will be shown on index page

- form_tag  url_for(:services, :save), :method => 'post' do
  %table.services
    %thead
      %tr
        %th
          Service name
        %th.right= input_tag :search, :class => "search"
    %tbody
      %tr#noresults
        %td{:colspan => 2}
          %h6 No results!

      - @services.each_with_index do |s, i|
        %tr{:class=> ("page" if i%20 == 0) }
          %td= s.name
          %td.right= check_box_tag s.name, :checked => @selected.include?(s.name)

  .wrapper
    = submit_tag "Save", :class=>"btn success"
